/* for mobile */

@media screen and (max-width:425px) {
    nav,
    .right-nav,
    .gamer-container,
    .player-container
    {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
    }
    .left-nav h3{
        font-size: 1.8rem;
        font-weight: 700;
    }
    .left-nav img{
        width: 25%;
    }

    .banner-container{
        flex-direction: column-reverse;
    }
    .right-banner{
        width: 75%;
    }
    .left-banner{
        width:100%;
        text-align: center;
        margin-top: 25px;
    }
    .banner-title-two{
        font-size: 1.8rem;
    }
    .banner-title{
         font-size: 3.6rem;
    }

    .banner-detail{
        font-size: .9rem;
        margin-bottom: 15px;
    }
    .btn-primary,.btn-secondary{
        font-size: .9rem;
        margin-top: 20px;
    }

    .gamer-img{
        width: 100%;
        margin-top: 20px;
    }
    .gamer-detail{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .gamer-details{
        text-align: center;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .player-container{
        gap:3rem;
        margin-top: 40px;
    }


    /* =====funnt image======== */
   .funny-container{
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
   }

   .funny-container h2{
    font-size: 2rem;
   }
   .funny-container p{
    font-size: 1rem;
    font-weight: 400;
   }
   .funny-img{
    flex-direction: column;
    gap:10px;
    align-items: center;
   }
   .img-size{
    width:80%;
    height: auto;
   }

.img-container  .img-size-two{
    width: 71%;
    height: auto;
    display: inline;
    margin-left: 48px;
  }
  

  .player-content{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .play-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .player-detail{
        text-align: center;
        font-size: 1rem;
        line-height: 25px;
    }

    .player-img{
        width:95%;
        text-align: center;
    }
    
    .player-img .img-one{
        width: 80%;
    }
    
    .player-img .img-2{
        width: 30%;
        height: 30%;
        position: relative;
        top:-70px;
        left: -120px;
    }

    .icon-section{
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows: repeat(3,1fr);
        gap:0.7rem;
        margin-top:10px;
    }
    .card-1 p{
        color: #0B0223;
        font-size: .8rem;
        font-weight: 600;
     }

    .card-img img{
        width:25px;
    }
     
     .card-break{
        margin-left:0;
      
     }
     .last-card{
        margin-right:0;
     }

     /* =========footer======= */

     .footer-detail{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:.9rem;
     }

     .icon-footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:2.2rem;
     }
     .footer-detail-two{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:1.2rem;
        font-size: .8rem;
     }
    .last-footer{
        text-align: center;
        margin-top: 25px;
    }
    
}

/* =======medium device====== */

@media screen and (min-width:425px) and (max-width:992px){
    nav,
    .right-nav
    ,.gamer-container,
    .player-container
    {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
    }
    .left-nav{
        width: 100%;
        justify-content: center;
    }
    .left-nav h3{
        font-size: 2rem;
        font-weight: 700;
    }
    .left-nav img{
        width: 10%;
    }

    .banner-container{
        flex-direction: column-reverse;
    }
    .right-banner{
        width: 90%;
    }
    .left-banner{
        width:100%;
        text-align: center;
        margin-top: 25px;
    }
    .banner-title-two{
        font-size: 2rem;
    }
    .banner-title{
         font-size: 4.2rem;
    }

    .banner-detail{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    .btn-primary,.btn-secondary{
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .gamer-img{
        width: 100%;
        margin-top: 20px;
    }
    .gamer-detail{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .gamer-details{
        text-align: center;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .funny-container{
        flex-direction: column;
        width: 100%;
        margin: 50px auto;
       }
    
       .funny-container h2{
        font-size: 2rem;
       }
       .funny-container p{
        font-size: 1rem;
        font-weight: 400;
       }
       .funny-img{
        flex-direction: column;
        gap:10px;
        align-items: center;
       }
       .img-size{
        width:270px;
        height: auto;
    }
    
       .img-container .img-size-two{
        width:80%;
        height: 100%;
        display: inline;
        margin-left: 35px;
      }

    .player-container{
        gap:3rem;
        margin-top: 40px;
    }

    .player-content{
        width: 100%;
        text-align: center;
    }
    .play-title{
        text-align: center;
        font-size: 2rem;
    }
    .player-detail{
        text-align: center;
        font-size: 1rem;
        line-height: 25px;
    }

    .player-img{
        width:98%;
        text-align: center;
    }
    
    .player-img .img-one{
        width: 90%;
    }
    
    .player-img .img-2{
        width: 30%;
        height: 30%;
        position: relative;
        top:-90px;
        left: -150px;
    }

    .icon-section{
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows: repeat(3,1fr);
        gap:0.7rem;
        margin-top:10px;
    }
    .card-1 p{
        color: #0B0223;
        font-size: .8rem;
        font-weight: 600;
     }

    .card-img img{
        width:25px;
    }
     
     .card-break{
        margin-left:0;
      
     }
     .last-card{
        margin-right:0;
     }

  .footer-detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:.9rem;
 }

 .icon-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.2rem;
 }
 .footer-detail-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.6rem;
    font-size: .8rem;
 }
.last-footer{
    text-align: center;
    margin-top: 25px;
    font-size: .9rem;
}
.last-footer span{
    display: block;
    margin-bottom: 8px;
}
}


